 Day 1 Session 2

Operator

In [1]:
3+5-(6+7*2)*2

-32

In [3]:
#power
3**2

9

In [5]:
# 10.5 multiply by e^2 i.e 10 to the power 2
10.5e2

1050.0

In [7]:
5//2 #Same as floor

2

In [9]:
5/2

2.5

In [11]:
"Python"+"Training"

'PythonTraining'

In [13]:
"Python"+" "+"Training"

'Python Training'

In [15]:
#we cannot do it because both data types are different
3+"Python"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
"3"+"Python"

'3Python'

In [17]:
#Escape Sequence
"I am learning \"python \" Programming"

'I am learning "python " Programming'

In [19]:
"Python\nProgramming"

'Python\nProgramming'

In [21]:
"Python \t Programming"

'Python \t Programming'

In [25]:
# Tuple
x=(3,4,5)
print(x)

(3, 4, 5)

In [27]:
x=max(3,4,5)
print(x)

5

In [29]:
pow(3,2)

9

In [31]:
x=min(3,4,5)
print(x)

3

Calender

In [39]:
import calendar
y=2024
x=10
print(calendar.month(y,x))

    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [43]:
print("python \t training")

python 	 training

In [45]:
print("python \n training")

python
 training

In [49]:
print(3*"Python programming\n")

Python programming
Python programming
Python programming

In [72]:
import datetime
x=(datetime.date(2024,8,24))
y=(datetime.date(2024,8,28))
print(x)
z=y-x
print(z)

2024-08-24
4 days, 0:00:00

In [64]:
from datetime import date
f=date(2024,8,24)
y=date(2024,9,24)
z=y-f
print(z.days)

31

In [84]:
print("Twinkle, twinkle,little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle,twinkle,little star,\n\tHow I wonder what you are")

Twinkle, twinkle,little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle,twinkle,little star,
	How I wonder what you are

In [ ]:
WAP for n=5 using n+nn+nnn output =615

In [5]:
n=5
print(n+n*10+n+n*100+n*10+n)
#n+nn+nnn

615

WAP a python to solve (x+y)*(x+y)

In [139]:
x=4
y=3
print((x+y)**2)

49

WAP to print sum of the first nos

In [145]:
n=5
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

15

Sum function

In [7]:
a = (1, 2, 3, 4, 5)
x = sum(a, 3)
print(x)

18

In [3]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

In [1]:
import datetime
tday=datetime.date.today()
print(tday)

2024-08-27

In [3]:
import datetime
tday=datetime.date.today()
print(tday.month)

8